  
.preview {
	border-right: 1px solid #e8e8e8;
	padding: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column; 
}
.preview-pic {
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
		flex-grow: 1; }

.preview-thumbnail.nav-tabs {
border: none;
margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
	width: 18%;
	margin-right: 2.5%; 
}
.listimg{
	cursor: pointer;
}
.preview-thumbnail.nav-tabs li img {
	max-width: 100%;
	height: 90px;
	display: block; 
}
.preview-thumbnail.nav-tabs li img:hover{
	border: 1px solid #00bcd4;
}
.preview-thumbnail.nav-tabs li a {
	padding: 0;
	margin: 0; 
}
	.preview-thumbnail.nav-tabs li:last-of-type {
	margin-right: 0; 
}
.tab-content {
overflow: hidden; }
.tab-content img {
	width: auto;
	height: 450px;
	-webkit-animation-name: opacity;
			animation-name: opacity;
	-webkit-animation-duration: .3s;
			animation-duration: .3s; }

.card {
margin-top: 50px;
margin-bottom: 50px;
background: #ffffff;
line-height: 1.5em; 
border: none;
}
.details {
	padding: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
		-ms-flex-direction: column;
			flex-direction: column; 
}
.colors {
	font-size: 16px;
	margin-top: 10px;
	color: rgb(117, 117, 117);
	-webkit-box-flex: 0.5;
	-webkit-flex-grow: 0.5;
		-ms-flex-positive: 0.5;
			flex-grow: 0.5;
}
.quantity{
	width: 70%;
	float: right;
	margin-top: -3px;
}
.icon-dt1{
	padding-top: 1px;
	cursor: pointer;
}
.quantity_product{
	margin-left: 20px;
	font-size: 15px;
}

 .price span {
color: rgb(238, 77, 45); 
}
.product-title, .rating, .product-description,.details .price, .vote, .sizes {
	border-bottom: 1px dotted #e8e8e8;
	margin-bottom: 10px;
    padding-bottom: 10px;
}
.vote strong:nth-child(1){
	background-color: #f44336;
	border: 1px dotted #ffffff;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}
.vote strong:nth-child(2){
	margin-left: 10px;
	font-weight: 400;
	text-decoration: line-through;
}
.details .product-title {
margin-top: 10px; 
}
.size {
margin-right: 10px; 
}
.size:first-of-type {
	margin-left: 40px; 
}
.color {
display: inline-block;
vertical-align: middle;
margin-right: 10px;
height: 2em;
width: 2em;
border-radius: 2px; 
}
.color:first-of-type {
	margin-left: 20px; 
}
.add-to-cart, .like {
background: rgb(14, 140, 228);
padding: 1.2em 1.5em;
margin-left: 10px;
border: none;
text-transform: UPPERCASE;
font-size: 15px;
border-radius: 3px;
font-weight: bold;
cursor: pointer;
color: #fff;
}
.action {
    margin-bottom: 22px;
}
.add-to-cart:hover, .like:hover {
	opacity: 0.8;
	color: #fff; 
}
.add-to-cart:focus, .like:focus{
	outline: none !important;
}
.not-available {
text-align: center;
line-height: 2em; 
}
.not-available:before {
	font-family: fontawesome;
	content: "\f00d";
	color: #fff; 
}
.orange {
background: #ff9f1a; }

.green {
background: #85ad00; }

.blue {
background: #0076ad; }

.tooltip-inner {
padding: 1.3em; }

@-webkit-keyframes opacity {
0% {
	opacity: 0;
	-webkit-transform: scale(3);
			transform: scale(3); }
100% {
	opacity: 1;
	-webkit-transform: scale(1);
			transform: scale(1); } }

@keyframes opacity {
0% {
	opacity: 0;
	-webkit-transform: scale(3);
			transform: scale(3); }
100% {
	opacity: 1;
	-webkit-transform: scale(1);
			transform: scale(1); } }
.product_detail{
	width: 100%;
	background: #ffffff;
	border-radius: 10px;
	height: auto;
	margin-bottom: 50px;
}
.detail_page_main{
	height: 200px;
	width: 100%;
}
.detail_title{
	width: 100%;
	height: 50px;
	margin-top: 30px;
	background: #f9fafa;
	padding: 15px;
	text-transform: uppercase;
	border-radius: 10px;
	font-weight: 600;
}
._label-detail{
	width: 15%;
	height: 30px;
	margin-top: 20px;
	margin-left: 5%;
	font-size: 16px;
	float: left;
	color: #858383;
}
._label-text{
	width: 80%;
	height: 30px;
	margin-top: 20px;
	float: left;
	font-size: 16px;
	color: #0076ad;
}
.detail_describe{
	width: 100%;
	margin-top: 10px;
	float: left;
	height: 50px;
	background: #f9fafa;
	padding: 15px;
	font-weight: 600;
	text-transform: uppercase;
}
.detail_content{
	width: 100%;
	height: auto;
	padding: 15px;
}
.product_review{
	width: 100%;
	background: #ffffff;
	height: auto;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 30px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.product_review_title{
	width: 100%;
	height: 50px;
	background: #f9fafa;
	border-radius: 10px;
	padding: 15px;
	font-weight: 600;
	text-transform: uppercase;
}
.review_rating{
	width: 100%;
	height: auto;
	padding: 20px 20px 20px 0px;
}
.review_rating p{
	margin-left: 25px;
}
.review_rating span{
	font-size: 25px;
}
.-rdm01 {
	font-size: 25px;
	margin-right: 25px;
	margin-left: 25px;
}
.side {
	float: left;
    width: 15%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}
  
.middle {
	margin-top:10px;
	float: left;
	width: 70%;
}
.right {
	text-align: left;
    padding-left: 10px;
}
.row-rd1:after {
	content: "";
	display: table;
	clear: both;
}
.bar-container {
	width: 100%;
	background-color: #f1f1f1;
	text-align: center;
	color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}
.chat-mesage{
	width: 100%;
	height: auto;
	position: relative;
	padding: 15px;
}
.container-chat {
padding: 10px;
margin: 10px 0;
}
.container-chat::after {
content: "";
clear: both;
display: table;
}
.avatar-user{
	background: #ffffff;
	width: 6%;
	height: 62px;
	float: left;
}
.avatar-user img {
	max-width: 45px;
	width: 100%;
	border-radius: 50%;
}
.comment-user{
	background-color: #eff1f3;
	border-radius: 15px;
	width: 90%;
	height: auto;
	float: left;
}
.container-reply{
	width: 100%;
	height: 80px;
	padding-left: 10px;
	border-left: 1px solid #f1f1f1;
	left: 7%;
}
.comment-reply{
	background-color: #eff1f3;
	border-radius: 15px;
	width: 82%;
	height: 80px;
	float: left;
}
.container-chat img.right {
	float: right;
	margin-left: 20px;
	margin-right:0;
}
.user-name{
	width: 100%;
	height: 30px;
	padding:10px 10px 0px 20px;
	display: flex;
}
.name-reply{
	font-size: 14px;
	padding-right: 20px;
	font-weight: 600;
	color: #21a3d6;
	margin-bottom: 0px;
}
span.time-comment{
	color: #777777;
}
.content-comment{
	width: 100%;
	height: auto;
	padding: 10px 10px 10px 20px;
}
.content-comment p{
	color: black;
}
.message-add-cart{
	position: fixed;
	background: rgb(88, 87, 87);
	background: rgb(88, 87, 87,0.9);
	top: 35%;
	left: 40%;
	width: 30%;
	height: 150px;
	z-index: 3;
	border-radius: 3px;
}
.circle-alert{
	text-align: center;
	margin-top: 20px;
}
.circle-alert i{
	font-size: 40px;
	color: #02cee9;
}
.alert-add-cart{
	text-align: center;
	font-size: 18px;
	margin-top: 20px;
	color: #ffffff;
}
.detail_content_container span{
	margin-bottom: 20px !important;
}
#pic-1{
	text-align: center;
}

.benefits_20y9 {
    border-top: 1px solid #e8e8e8;
    padding: 1.2rem;
	min-height: 4.9rem;
	margin-left: -11px;
	margin-right: -40px;
}
.item_8SP8 {
    display: inline-block;
    margin-right: 1.2rem;
}
.iconCheck_3TcW {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: .6rem;
    fill: #e5101d;
}
.item_8SP8 {
    display: inline-block;
    margin-right: 1.2rem;
}
.disable_3qw- .iconCheck_3TcW {
    fill: #c7c7cd;
}
.disable_3qw- .title_2eUg {
    color: #c7c7cd;
    font-weight: 400;
}


/*infor shop*/
.page-product__shop {
    height: 6rem;
	padding: 1.5625rem;
	display: flex;
}
._1Sw6Er {
    width: 440px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid rgba(0,0,0,.05);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._136nGn {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 1.25rem;
	position: relative;
	margin-top: -6px;
}
._2dEPf7 {
    width: 5rem;
    height: 5rem;
    border: none;
}
.shopee-avatar {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
    border-radius: 50%;
    border: .0625rem solid rgba(0,0,0,.09);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.shopee-avatar__placeholder {
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}
.shopee-avatar__placeholder .icon-headshot {
    stroke: #c6c6c6;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.shopee-avatar__img {
    border-radius: 50%;
}
.shopee-avatar__img, .shopee-avatar__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}
._1oAxCI {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
._1oAxCI .official-shop-new-badge, ._2S9T8Y {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._1oAxCI .official-shop-new-badge {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
._2S9T8Y {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
._1oAxCI .official-shop-new-badge, ._2S9T8Y {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._3Lybjn {
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba(0,0,0,.87);
    margin: 0;
}
._1h7HJr {
    font-size: .875rem;
    color: rgba(0,0,0,.54);
    text-transform: capitalize;
}
._1jOO4S {
    margin-top: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.theme--ofs .btn-tinted {
    background-color: rgba(208,1,27,.08);
    border-color: #d0011b;
    color: #d0011b;
}
.F5W_lC {
    margin-right: .625rem;
}
.shopee-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}
Ed2lAD, .F5W_lC {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    text-transform: capitalize;
}
.btn-light--link {
    color: #555;
}
.btn-light {
    background: #fff;
    color: #555;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
}
.btn--s {
    height: 34px;
    padding: 0 15px;
    min-width: 60px;
    max-width: 190px;
}
.btn--inline {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
._2S9T8Y {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._3mK1I2, .TuJk3S {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._3mK1I2 {
    padding-left: 3.4375rem;
    color: rgba(0,0,0,.4);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.TuJk3S {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
	margin-right: 3.125rem;
	display: flex;
}
.-Gna22 {
    cursor: default;
}
.-Gna22, .F6kLFJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._32EvOQ {
    margin-bottom: 1.25rem;
}
._32EvOQ:last-child {
    margin-bottom: 0;
}
.-Gna22, .F6kLFJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
._1q9CHQ {
    text-transform: capitalize;
    color: rgba(0,0,0,.4);
    margin-right: .625rem;
}
._1rsHot {
    color: #d02a01;
}