
/* CSS Document */

/******************************

[Table of Contents]

1. Home
2. Shop
	2.1 Shop Products
	2.2 Shop Page Navigation
3. Shop Sidebar

******************************/
/*********************************
1. Home
*********************************/

.home
{
	width: 100%;
	height: 260px;
	margin-top: 15px;
	background: transparent;
}
.home img{
	width: 100%;
	height: 100%;
}
/*********************************
2. Shop
*********************************/

.shop
{
	padding-top: 5px;
	padding-bottom: 50px;
}
.shop_content
{
	width: 100%;
}
.shop_bar
{
	border: none;
	border-radius: 3px;
	padding-bottom: 10px;
	padding-top: 10px;
	box-shadow: 0px 0px 3px #bbbbbb;
	background: #ffffff;
	z-index: 1;
}
.shop_sorting_fo{
	float: left;
	height: 40px;
	width: 12%;
	line-height: 40px;
}
.shop_sorting_fo span{
	font-size: 15px;
	margin-left: 9px;
}
.shop_sorting
{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	height: 40px;
	width: 10%;
	line-height: 40px;
	text-align: center;
	border-radius: 2px;
}
.shop_sorting span{
	font-size: 16px;
	cursor: pointer;
}
.sorting_price{
	width: 18%;
	border: 1px solid #a3a3a3;
}
.form-sorting{
	border: 0;
	color: #000000;
	width: 100%;
	padding-left: 2px;
	cursor: pointer;
	font-size: 16px;
}
option:hover{
	background-color: red;
}
.form-sorting:focus{
	outline: none;
}
.view_product{
	float: right;
	margin-right: 10px;
	padding-left: 10px;
	width: 12%;
	height: 40px;
	line-height: 40px;
}
.view_product_b{
	border: none;
	background: #ffffff;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 7px;
	font-size: 20px;
	color: #8d8d8d;
}
.active_b{
	color: #df3b3b;
}
.view_product_b:focus{
	outline: none;
}
/*********************************
2.1 Shop Products
*********************************/

.product_grid
{
	width: 100%;
	height: auto;
	margin-top: 10px;
}
.product_grid_border
{
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 3px;
	height: 100%;
	background: #FFFFFF;
	z-index: 1;
}
.gird-card-product{
	display: grid;
	grid-template-columns: 241px 241px 241px 241px;
	grid-gap: 10px;
	margin-top: 10px;
}
.product_item
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	float: left;
	background: #FFFFFF;
	cursor: pointer;
	border-radius: 1px;
	height: 350px;
	padding-top: 0px;
}
.product_item:hover{
	box-shadow: 0px 0px 5px 0px #a3a3a3;
}

.product_image
{
	width: 100%;
	height: 221px;
}
.product_image img
{
	display: block;
	position: relative;
	max-width: 100%;
	width: 100%;
	height: 220px;
}
.product_content
{
	width: 100%;
}
.product_price
{
	font-size: 16px;
	font-weight: 500;
	margin-top: 25px;
}
.product_item.discount
{
	color: #df3b3b;
}
.product_price span
{
	position: relative;
	font-size: 12px;
	font-weight: 400;
	color: rgba(0,0,0,0.6);
	margin-left: 10px;
}
.product_price span::after
{
	display: block;
	position: absolute;
	top: 6px;
	left: -2px;
	width: calc(100% + 4px);
	height: 1px;
	background: #aca1a1;
	content: '';
}
.product_name
{
	margin-top: 4px;
	overflow: hidden;
}
.product_name div
{
	width: 100%;
	
}
.product_name div a
{
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	white-space: nowrap;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_name div a:hover
{
	color: #0e8ce4;
}
.product_fav
{
	position: absolute;
	top: 20px;
	right: 12px;
	width: 36px;
	height: 36px;
	background: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_fav:hover
{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.product_fav i
{
	display: block;
	position: absolute;
	font-size: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	color: #da1717 !important;
	line-height: 36px;
	pointer-events: none;
	z-index: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_fav.active i
{
	color: red;
}
.product_item:hover .product_fav
{
	visibility: visible;
	opacity: 1;
}
.product_marks
{
	display: block;
	position: absolute;
	top: 33px;
	left: 24px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_mark
{
	display: inline-block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	font-size: 12px;
}
.product_new
{
	display: none;
	background: #0e8ce4;
	visibility: hidden;
	opacity: 0;
}
.product_discount
{
	display: none;
	background: #df3b3b;
	visibility: hidden;
	opacity: 0;
}
.product_item.is_new .product_new,
.product_item.discount .product_discount
{
	display: inline-block;
	visibility: visible;
	opacity: 1;	
}

/*********************************
2.2 Shop Page Navigation
*********************************/

.shop_page_nav
{
	width: 100%;
	height: 50px;
	margin-top: 30px;
	float: left;
	padding-left: 30%;
}
.page_prev, 
.page_next
{
	width: 40px;
	height: 40px;
	border: solid 1px #7a7979;
	border-radius: 5px;
	cursor: pointer;
	float: left;
}
.page_prev i, 
.page_next i
{
	font-size: 12px;
	color: #000000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.page_prev:hover i, 
.page_next:hover i
{
	color: rgb(187, 106, 53);
}
.page_nav
{
	border: solid 1px #7a7979;
	border-radius: 5px;
	margin-left: 15px;
	margin-right: 15px;
	float: left;
}
.page_nav li
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-right: solid 1px #7a7979;
	cursor: pointer;
}
.active-page{
	background: #0e8ce4;
	border-left: none;
	border-right: none;
}
.page_nav li a
{
	font-weight: 500;
	font-size: 15px;
	width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
	color:black;
}
.page_nav li:hover a
{
	color: #1b2b1d;
}
.page_nav li:last-child
{
	border-right: none;
}

/*********************************
3. Shop Sidebar
*********************************/
.shop_sidebar
{
	width: 112%;
	box-shadow: 0px 0px 3px #bbbbbb;
	background-color: white;
}
.sidebar_section{
	border-bottom: 1px solid #e3e3e6;
	padding-left: 10px;
}
.sidebar_title
{
	font-size: 18px;
	font-weight: 500;
	padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar_categories
{
	margin-top: 0px;
}
.sidebar_categories li
{
	margin-bottom: 7px;
}
.sidebar_categories li a
{
	color:#000000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.sidebar_categories li a:hover
{
	color: #0e8ce4;
}
.filter_by_section
{
	margin-top: 0px;
}
.filter_price
{
	margin-top: 28px;
	margin-bottom: 15px;
}
.filter_price .star_rating{
	cursor: pointer;
}
.filter_price span{
	margin-right: 8px;
}
.slider_range
{
	max-width: 195px;
}
.filter_price p
{
	display: inline-block;
	font-size: 15px;
	font-weight: 500 !important;
	color: #000000;
	margin-bottom: 0px;
}
.apdung{
	width: 80%;
	height: 30px;
	color: white;
	background-color: #ee4d2d;
	margin-left: 12px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
}
.apdung:hover{
	background-color: #eb5537;
}
.sidebar_subtitle
{
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
}
.sidebar_subtitle label{
	width: 100%;
}
.price_filter{
	width: 47%;
	height: 35px;
	margin-right: 5px;
}
.filter_price p input
{
	font-size: 12px;
	font-weight: 500 !important;
	color:#000000;
}
.amount
{
	margin-top: 18px;
}
.color_subtitle
{
	margin-top: 27px;
}
.colors_list
{
	margin-top: 14px;
}
.color
{
	display: inline-block;
	margin-right: 6px;
}
.color a
{
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.brands_subtitle
{
	margin-top: 27px;
	font-size: 17px;
}
.brands_list
{
	margin-top: 12px;
}
.brand
{
	margin-bottom: 7px;
}
.brand a
{
	color: #000000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.brand a:hover
{
	color: #0e8ce4;
}

.product_item-horizontal {
    background: white;
    width: 100%;
    height: 200px;
}
.product_item-horizontal:hover .product_fav
{
	visibility: visible;
	opacity: 1;
}
.product_item-horizontal:hover{
	box-shadow: 0px 0px 5px 0px #a3a3a3;
}
.product_image-horizontal {
    width: 20%;
    float: left;
}
.product_image-horizontal img{
	width: 100%;
	height: 199px;
}
.product_content-horizontal {
    width: 80%;
	height: 100%;
    float: left;
}
.product_name_home-horizontal {
	width: 60%;
	padding: 15px;
    float: left;
    height: 100%;
}
.product_name_home-horizontal a {
	color: #000000;
	font-size: 16px;
}
.horizontal-pr01 {
	width: 40%;
	padding-top: 15px;
    float: left;
    height: 100%;
}
.product_discount_home-horizontal {
    color: #7a7979;
    text-decoration: line-through;
}
.horizontal{
	padding-left: 0px;
}
.loading-product{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(58, 57, 57, 0.3);
	z-index: 4;
}
.load-pro{
	position: fixed;
	top:50%;
	left:50%;
	transform: translateX(-50%);
	transform: translateY(-50%);
	width:100px;
	height:100px;
}
.load-pro hr{
	border:0;
	margin:0;
	width:25%;
	height:25%;
	position:absolute;
	border-radius:
	50%;animation:spin 2s ease infinite}

.load-pro :first-child{background:rgb(58, 146, 246,0.5);animation-delay:-1.5s}
.load-pro :nth-child(2){background:rgb(58, 146, 246);animation-delay:-1s}
.load-pro :nth-child(3){background:rgb(58, 146, 246,0.5);animation-delay:-0.5s}
.load-pro :last-child{background:rgb(58, 146, 246)}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}
.MuiIconButton-root{
	margin-left: -10px !important;
}